# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
Acceleration_test.py
EngTest.py

# Виртуальные окружения
venv/
venv1/
.env/
.env.bak/
.venv/

# Pytest
.pytest_cache/
.cache/

# IDE - PyCharm
.idea/

# VS Code dev containers)
.devcontainer/

# Логи и временные файлы
*.log
*.tmp
*.bak

# Системные файлы
.DS_Store
Thumbs.db
